@model PP.Core.Entities.Image

@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => Model.Description, new { @class = "control-label col-sm-3" })
            <div class="col-sm-5">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Choose Image", new { @class = "control-label col-sm-3" })
            <div class="col-sm-5">
                <input type="file" name="file" accept=".jpg, .png, .gif" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5 col-sm-offset-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <div class="field-validation-error">@ViewBag.error</div>
            </div>
        </div>
    </div>
}